@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

*{
    margin: 0%;
    padding: 0%;
    /* box-sizing: border-box; */
    font-family: 'Inter', sans-serif;
}

/* html,body{
    overflow-x: hidden;
} */

body {
    width: 100%;
}


header {
    background-color: #000;
}

.nav-bar {
    background-color: #000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 13vh;
}


.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;

}

.login-button button {
    border: none;
    background: #81BA95;
    padding: 10px 15px;
    border-radius: 5px;
}

.login-button button a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu{
    display: none;
}

.nav-bar {
    padding: 1.5rem 4rem;
}

.nav-item {
    display: none;
}

.nav-item:hover{
    color: #ffffff;
}

.login-button {
    display: none;
}

.mobile-menu-icon {
    display: block;
}

.mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
}

.mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;
}

.mobile-menu .login-button {
    display: block;
    padding: 1rem 2rem;
}

.mobile-menu .login-button button {
    width: 100%;
}

.open {
    display: block;
}


#titulo {
    text-align: center;
    margin: 30px;
    font-weight: bold;
    font-size: 2.5rem;
}

.seta-baixo {
    text-align: center;
    margin: 3vh;
}


.plano {
    margin: 5%;
    padding: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: rgb(240, 240, 240);
    /* #d8d8d8 */
}



.plano:hover {
    border: 2px solid #000;
}

.plano h3, h1, li, p{
    color: #000;
}

.plano h1 {
    font-size: 3rem;
    font-weight: bold;
}

.preco h3{
    font-weight: bold;
    font-size: 1.3rem;
}

.preco {
    border-bottom: 1px solid #000;
}

#lista {
    padding-top: 30px;
}

#lista p{
    padding: 0%;
}

.plano button {
    margin-top: 20px;
    border: none;
    background: #000;
    color: #fff;
    padding: 10px;
}

#modelos {
    text-align: center;
}

#modelos h1{
    margin: 30px;
    font-weight: bold;
    font-size: 2.5rem;
}

#bike img{
    width: 90%;
}

#patinete img{
    width: 100%;
}

#bike-patinete {
    text-align: center;
}

#sobre {
    padding: 20px;
    background-color: #81BA95;
}

#playlist {
    text-align: center;
    background-image: url(images/background-playlist.jpg);
    background-position: right;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 60vh;
}

#playlist img {
    margin-top: 50px;
    width: 40vh;
    transition: 0.3s;
}

#playlist img:hover {
    transform: scale(0.9);
}

footer {
    width: 100%;
    height: 70vh;
    background-color: #000;
    text-align: center;
    align-items: center;
    justify-content: center;
    bottom:0;
    left:0;
    width:100%;
}

footer ul{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 30px;
}

footer ul li{
    list-style: none;
    padding: 30px;
    transition: 0.3s;
    cursor: pointer;
}

footer ul li:hover{
    transform: scale(1.2);
}

#logo-slogan img{
    width: 40vh;
    cursor: pointer;
    transition: 0.3s;
}

#logo-slogan img:hover {
    transform: scale(1.1);
}

#logo-slogan p{
    color: #fff;
    font-size: 1.1rem;
    margin-top: 40px;
    font-weight: bold;
}

footer h2{
    color: #fff;
    margin-top: 60px;
    font-size: 1.3rem;
}

.locar {
    text-align: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    background-color: #000;
    z-index: 10;
    margin-top: 100px;
    position: relative;
    display: none;
    margin: 0;
    padding: 0;
    top: 0;

}

.locar h1{
    font-weight: bold;
    padding-top: 100px;
    padding-bottom: 50px;
    color: #fff;
}

.locar img{
    width: 10vh;
    position: relative;
    top: 60px;
    cursor: pointer;
}

.locar input{  
    /* margin-top: 30px; */
    width: 40vh;
    height: 40px;
}

.locar label{
    margin-top: 40px;
    color: #fff;
    font-weight: bold;
    font-size: 1.4rem;
}



@media (min-width:801px) {
    .mobile-menu-icon {
        display: none;
    }
    
    .mobile-menu{
        display: none;
    }
    
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    
    .nav-item {
        display: flex;
        transition: 0.3s ease-in;
    }

    .nav-item:hover{
        border-bottom: 1px solid #81BA95;
    }
    
    .login-button {
        display: flex;
    }
    
    .mobile-menu-icon {
        display: none;
    }
    
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    
    .mobile-menu ul {
        display: none;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    
    .mobile-menu .nav-item {
        display: none;
        padding-top: 1.2rem;
    }
    
    .mobile-menu .login-button {
        display: none;
        padding: 1rem 2rem;
    }
    
    .mobile-menu .login-button button {
        width: 100%;
    }
    
    .open {
        display: none;
    }

    .nav-list{
        display: flex;
        align-items: center;
    }

    .nav-list ul {
        display: flex;
        justify-content: center;
        list-style: none;
    }

    .nav-item {
        margin: 0 15px;
    }



    .plano {
        margin: 10px;
        width: 47%;
    }

    #bike, #patinete{
        width: 60%;
        margin-left: 20%;
    }

    .container-planos {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    #plano3 {
        width: 500px;
    }

    #playlist img{
        width: 50vh;
    }

    footer{
        padding-top: 10vh;
        height: 70vh;
        transition: 0.3s;
    }

    footer ul li{
        transition: 0.3s;
    }

    #logo-slogan p{
        font-size: 1.5rem;
    }

    #logo-slogan{
        width: 100%;
        text-align: center;

    }

    #logo-slogan img {
        width: 50vh;
    }

}

@media (min-width:1281px) {
    .mobile-menu-icon {
        display: none;
    }
    
    .mobile-menu{
        display: none;
    }
    
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    
    .nav-item {
        display: flex;
    }
    
    .login-button {
        display: flex;
    }
    
    .mobile-menu-icon {
        display: none;
    }
    
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    
    .mobile-menu ul {
        display: none;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    
    .mobile-menu .nav-item {
        display: none;
        padding-top: 1.2rem;
    }
    
    .mobile-menu .login-button {
        display: none;
        padding: 1rem 2rem;
    }
    
    .mobile-menu .login-button button {
        width: 100%;
    }
    
    .open {
        display: none;
    }

    .nav-list{
    display: flex;
    align-items: center;
    }

    .nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
    }

    .nav-item {
    margin: 0 15px;
    }

    .carousel-inner {
        height: 80vh;   
    }

    .container-planos {
        flex-wrap: nowrap;
    }
    
    .plano {
        width: 30%;
    }
    #plano3 {
        width: 30% ;
    }

    .bike-patinete {
        margin: 0;
        padding: 0;
        display: flex;
    }

    #bike {
        position: relative;
        left: -200px;
        width: 100vh;
    }

    #patinete {
        position: relative;
        left: -200px;
        top: -50px;
        width: 90vh;
    }

    #playlist img{
        width: 60vh;
    }

    footer {
        padding: 0vh;
        height: 80vh;
    }

    footer ul{
        position: relative;
        left: -100px;
        top: 60%;
        text-align: right;
        align-items: right;
        justify-content: right;
    }

}
