
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
  /*barra de rolagem (fundo)*/
  width: 10px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  /*barra de rolagem (barra)*/
  width: 10px;
  background-color: #81ba95;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  width: 100%;
}

header {
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

/* barra de progressão */
#indicator {
  background: #81ba95;
  height: 0.25rem;
  width: 0;
  position: fixed;
  top: 0;
  z-index: 999;
}

#titulo {
  text-align: center;
  margin: 30px;
  font-weight: bold;
  font-size: 2.5rem;
}

.seta-baixo {
  text-align: center;
  margin: 3vh;
}
