/* Barra de navegação */
.nav-bar {
  background-color: #000;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 6rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 13vh;
}

.nav-link {
  text-decoration: none;
  font-size: 1.15rem;
  color: #fff;
  font-weight: 400;
}

.login-button button {
  font-size: 15px;
  font-weight: bold;
  border: none;
  background: #81ba95;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.login-button button:hover {
  background: #608a6f;
}

.login-button button a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.1rem;
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

.nav-bar {
  padding: 1.5rem 4rem;
}

.nav-item {
  display: none;
}

.nav-item:hover {
  color: #ffffff;
}

.login-button {
  display: none;
}

.mobile-menu-icon {
  display: block;
}

.mobile-menu-icon button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.mobile-menu ul {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 1rem;
}

.mobile-menu .nav-item {
  display: block;
  padding-top: 1.2rem;
}

.mobile-menu .login-button {
  display: block;
  padding: 1rem 2rem;
}

.mobile-menu .login-button button {
  width: 100%;
}

.open {
  display: block;
}
