/* Modelos */

#modelos {
  text-align: center;
}

#modelos h1 {
  margin: 30px;
  font-weight: bold;
  font-size: 2.5rem;
}

#bike img {
  margin: 50px 0;
  width: 80%;
  transition: 0.3s ease-in-out;
}

#patinete img {
  margin: 50px 0;
  width: 85%;
  transition: 0.3s ease-in-out;
}

#bike-patinete {
  text-align: center;
}

#bike img:hover {
  transform: scale(1.1);
}

#patinete img:hover {
  transform: scale(1.1);
}
